//iconfont矢量字体
@font-face {
  font-family: 'iconfont';  /* project id 203349 */
  src: url('//at.alicdn.com/t/font_e74b5pccutgiizfr.eot');
  src: url('//at.alicdn.com/t/font_e74b5pccutgiizfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_e74b5pccutgiizfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_e74b5pccutgiizfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_e74b5pccutgiizfr.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
//  -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
//按钮
.button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding:0 20px;
    font-size: 14px;
    cursor: pointer;
    .borderRadius;
    background-color: @tableActiveColor;
    color: #FFF; 
    &:hover {
        background-color: @buttonBgColor !important;
        color: #FFF !important;
    }
    &.button-mini {
        width: 124px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        padding: 0;
        background-color: #FFF !important;
        color: @buttonBgColor;
        font-size: 13px;
        border: 1px solid @borderColor;
        &:hover {
            background-color: @buttonBgColor !important;
            color: #FFF !important;
        }
    }
    &.button-mini-nowidth {
        height: 32px;
        line-height: 32px;
        background-color: #e9e7f7;
        color: @tableActiveColor;
    }
    &.button-nowidth {
        background-color: @mainColor;
    }
    i {
        margin-right: 7px;
    }
}

//单选框
.checkbox {
    display: inline-block;
    border: 1px solid #cad2e1;
    .borderRadius(4px);
    background-color: #FFF;
    cursor: pointer;
    &:hover {
        border-color: @tableActiveColor;
    }
    &&-select {
        padding: 0 12px;
        height: 23px;
        line-height: 23px;
        color: @fontColor;
        &:hover {
            color: @tableActiveColor;
        }
        &.checked {
            color: @tableActiveColor;
            border-color: @tableActiveColor;
        }
    }
    &&-normal {
        width: 18px;
        height: 18px;
        &.checked {
            color: #FFF;
            background-color: @tableActiveColor;
            border-color: @tableActiveColor;
        }
    }
    
    .iconfont {
        color: #FFF !important;
        float: left;
        line-height: 18px;
    }
}
//输入框
.input-text {
    width: 348px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid @borderColor;
    .borderRadius(3px);
    outline: none;
}
//图片上传

//无边界下拉框 
.drop-down-box {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    width: 102px;
    .drop-down-a {
        color: #000;
        .drop-down-text {
            margin-right: 5px;
        }
        .iconfont-arrow {
            font-size: 12px;
        }
    }
    
}
//提示消息条数
.message-number {
    display: inline-block;
    color: #FFF;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
    background-color: @messageNumberBgColor;
    .borderRadius(8px);
}

//升序和降序


//箭头
.arrow {
    position: absolute;
    border-width: 5px;
    top: 50%;
    &&-left, &&-right {
        margin-top: -6px;
    }
    &&-left {
        border-style: dashed solid dashed dashed;
        border-color: transparent @fontColor transparent transparent;
    }
    &&-right {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent @fontColor;
    }
    &&-top {
        margin-top: -8px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent @fontColor transparent;
    }
    &&-bottom {
        margin-top: -3px;
        border-style: solid dashed dashed dashed;
        border-color: @fontColor transparent transparent transparent;
    }
}
//测试页面的样式（最后删掉）
.test-box {
    height: 1000px;
    padding: 20px;  
    border: 1px solid @borderColor;  
    background-color: #FFF;
}

//选择框
.select {
    position: relative;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    .borderRadius(3px);
    padding: 0 10px;
    border: 1px solid @selectBorderColor;
    font-size: 12px;
    color: @tiperColor;
    &&-common {
        width: 120px;
    }
    &&-date {
        width: 120px;
    }
    &&-car {
        width: 248px;
    }
    &&-bank {
        width: 350px;
        .placeholder {
            width: 285px;
        }
    }
    .arrow {
        cursor: pointer;
    }
    .placeholder {
        float: left;
        width: 200px;
        height: 30px;
        border: none;
        outline: none;
    }
    .select-box {
        cursor: default;
        position: absolute;
        top: -1px;
        left: -1px;
        border: 1px solid @buttonBgColor;
        .borderRadius(3px);
        width: 248px;
        .select-tab {
            width: 248px;
            height: 30px;
            margin-top: 28px;
            .select-tab-item {
                position: relative;
                float: left; 
                cursor: pointer;
                color: @fontColor;
                line-height: 30px;
                width: 82px;
                border: 1px solid @borderColor;
                border-right: none;
                text-align: center;
                background-color: #f3f4f9;
                &:first-child {
                    border-left: none;
                }
                &.select-tab-item-active {
                    color: @buttonBgColor;
                    background-color: #FFF;
                    border-bottom-color: #FFF;
                    &:before {
                        content: "";
                        width: 82px;
                        height: 3px;
                        background-color: @buttonBgColor;
                        position: absolute;
                        top: -1px;
                        left: 0;
                    }
                }
            }
        }
        .select-content-box {
            width: 246px;
            height: 336px;
            overflow-x: hidden;
            overflow-y: auto;
            //品牌车系车型
            .select-content {
                display: none;
                padding: 0 15px 15px 15px;
                width: 248px;
                &.select-content-active {
                    display: block;
                }
                &.select-content-brand {
                    .checkbox {
                        margin-top: 10px;
                    }
                }
                .word-area {
                    position: relative;
                    margin-top: 10px;
                    &:last-child dd {
                        border: none;
                    }
                    dt {
                        position: absolute;
                        left: 0;
                        width: 21px;
                        font-weight: 600;
                        color: #000;
                        line-height: 23px;
                    }
                    dd {
                        padding-bottom: 10px;
                        border-bottom: 1px dashed @borderColor;
                        .car-item {
                            float: left;
                            display: inline-block;
                            color: @fontColor;
                            margin-left: 25px;
                            line-height: 23px;
                        }
                    }
                }
                .audi-area {
                    dt {
                        padding-top: 10px;
                        color: #000;
                        font-weight: 700;
                    }
                    dd {
                        border-bottom: 1px dashed @borderColor;
                        padding: 10px 0;
                        .car-item {
                            line-height: 23px;
                            margin-right: 23px;
                            color: @fontColor;
                        }
                    }
                }
            }
        }
        
    }
    .arrow {
        right: 10px;         
    }
}

//键值对形式框
.key-value-box {
    display: inline-block;
    .key {
        color: @tiperColor;
    }
    .value {
        color: @fontColor;
    }
}

.layout {
    border: 1px solid @borderColor;
    background-color: #FFF;
}
.backReason {
    border: 1px solid @backReasonBorderColor;
    background-color: @backReasonBgColor;
}

//分页器
.paginator {
    font-size: 12px;
    float: right;
    margin-right: 30px;
    color: #97a1b5;
    li {
        display: inline-block;
        float: left;
        margin: 8px 0;
        height: 30px;
        overflow: hidden;
        &.page {
            width: 30px;
            line-height: 30px;
            text-align: center;
            margin-left: 5px;
            cursor: pointer;
            border:1px solid #cdd9e9;
            .borderRadius(3px);
            &:hover {
                color: #6b59c9;
                border-color: #6b59c9;
            }
        }
        &.focus {
            background-color: #6b59c9;
            color:#FFFFFF;
            border-color: #6b59c9;
            &:hover {
                color: #FFF;
            }
        }
        &.page-ellipse{
            border:none;
            cursor: default;
        }
        &.page-jump-area {
            height: 32px;
            span {
                float: left;
                height: 32px;
                display: inline-block;
                margin: 0 5px;
                line-height: 32px;
            }
            .input-text {
                float: left;
                width: 48px;
                height: 30px;
            }
            .button  {
                float: left;
                background-color: #FFF;
                color: @fontColor;
                font-size: 14px;
                border: 1px solid #cdd9e9;
                height: 30px;
                line-height: 30px;
            }
        }
        &.page-jump-area:hover {
            color: #97a1b5;
        }
    }
}



//改编分页样式
.ui-paging-container {
    color:#666;
    font-size: 12px;
    ul {
        overflow: hidden;
        float: right;
        line-height: 30px;
        li {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-left: 5px;
            color:#97a1b5;
            &.ui-pager{
                cursor: pointer; 
                border:1px solid #cdd9e9;
                .borderRadius(3px);
            }
            &:hover {
                color: #6b59c9;
                border-color: #6b59c9;
            }
            &.focus {
                background-color: #6b59c9;
                color:#FFFFFF;
                border-color: #6b59c9;
            }
            &.ui-paging-ellipse{
                border:none;
            }
            &.ui-paging-toolbar{
                width: 156px;
                text-align: left;
            }
            &.ui-paging-toolbar input{
                
            }
            &.ui-paging-toolbar a{
                
            }
            &.ui-pager-disabled,&.ui-pager-disabled:hover {
                
            }
            
        }
    }
}